@charset "UTF-8";

html {
    height: 950px;
}

body {
    background: #186AC9;
    background-image: linear-gradient(0deg, #eede40 5%, #186AC9 90%);
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

img {
    width: 10%;
    margin-top: 100px;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 25px;
}

#container {
    width: 345px;
    margin: 0 auto;
}

label,
input {
    display: block;
}

label {
    color: #ffffff;
    font-size: 80%;
}

.input {
    margin: 9px 0px 7px 0px;
    border-radius: 7px;
    width: 100%;
    height: 44px;
    border: hidden;
}

form {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px 20px;
}

#clear {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px 20px;
}

form p {
    text-align: center;
    margin-bottom: 12px;
}

.register {
    font-size: 80%;
    margin-top: 25px;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.submit {
    text-align: right;
    margin-bottom: 13px;
    margin-top: 10px;
}

.back-home {
    text-align: center;
}

.errors {
    font-size: 50%;
    color: red;
    margin-bottom: 0px;
}
