@charset "utf-8";


body {
    height: 950px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}


/* header */
header {
    background: #186AC9;
    height: 10%;
}

#head {
    display: flex;
    justify-content: space-between;
}

h1 img {
    width: 120px;
    margin-left: 18px;
    margin-top: 10px;
}

#menu {
    flex: 0 0 20%;
}

#profile {
    padding-top: 31px;
    display: flex;
    height: 95px;
    justify-content: space-around;
    position: relative;
    z-index: 3;
    background-color: #186AC9;
}

#profile p {
    color: #fff;
}

.arrow::after {
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    width: 13px;
    /* くの字を山なりに見た時、左側の長さ */
    height: 13px;
    /* くの字を山なりに見た時、右側の長さ */
    border-top: 3px solid #fff;
    /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 3px solid #fff;
    /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(135deg);
    /* くの字の向き */
    transition: 1s;
}

.upper::after {
    transition: 1s;
    top: 11px;
    transform: rotate(315deg);
}

#profile img {
    height: 45px;
}

.drop-menu {
    display: none;
    background-color: #fff;
    border: 3px solid #00297E;
    height: 500px;
    width: 338px;
    position: relative;
    z-index: 2;
}


ul {
    height: 500px;
}

.drop-menu li {
    height: 33%;
    border-bottom: 3px solid #00297E;

}

.drop-menu a {
    text-align: center;
    display: block;
    height: 100%;
    color: black;
    transition: 1s;
    padding: 62px 0px;
}

.drop-menu li a:hover {
    background-color: #00297E;
    color: #fff;
}

.drop-menu li:last-child {
    border-bottom: none;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    height: 90%;
}

#container {
    height: auto;
    flex: 0 0 80%;
}

#side-bar {
    height: auto;
    flex: 0 0 20%;
    border-left: 1px solid #727272;
    position: relative;
    z-index: 1;
}

#confirm {
    height: 500px;
    padding: 82px 27px;
    border-bottom: 1px solid #727272;
}


#confirm .follows {
    display: flex;
    justify-content: space-between;
}

#confirm .followed {
    display: flex;
    justify-content: space-between;
}

.user-search {
    margin: 57px 0px 0px 99px;
}

/* プロフィール編集 */

#profile-edit {
    display: flex;
}

#icon-image {
    width: 400px;
}

#edit-form {
    width: 800px;
    display: flex;
}

/* 投稿画面 */
#post-area img {
    height: 45px;
    margin: 50px 50px 0px 140px;
}

#post-area {
    display: flex;
    border-bottom: 5px solid #cccccc;
}

.post-form {
    height: 160px;
    width: 800px;
    margin-top: 50px;
}

.submit-image {
    height: 125px;
}

textarea {
    resize: none;
    border: none;
}

textarea:focus {
    outline: 0;
}
